*.txt

ncvhis_Statewide.zip
ncvoter_Statewide.zip

NC_full_voter_elecs.zip
NC_voters.zip
NC_full_voter_elecs_final.zip
NC_full_voter_elecs_no_dup_ncids.zip
NC_gen_2012.zip
NC_gen_2014.zip
NC_gen_2016.zip
NC_gen_2018.zip
NC_gen_2020.zip
NC_ncid_summary.zip
